body {
    margin: 0;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 50px 0px 50px;
}

#info {
    background-color: rgba(255, 254, 207, 0.5);
    color: rgba(223, 58, 240, 0.8);
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-style: solid;
    border-color: rgba(108, 230, 235, 0.5);
    border-radius: 20px;
    position: absolute;
    top: 385px;
}

#start-btn, #restart-btn {
    background-color: rgba(108, 230, 235, 0.8);
    color: rgba(255, 254, 207, 1);
    padding: 10px;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 20px;
    position: absolute;
    top: 500px;
}

#pause-btn {
    position: absolute;
    top: 45px;
    right: 330px;
    background-color: rgba(108, 230, 235, 0.8);
    color: rgba(255, 254, 207, 1);
    padding: 10px;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 20px; 
}

.mute-btn, .unmute-btn {
    position: absolute;
    top: 45px;
    right: 450px;
    background-color: rgba(108, 230, 235, 0.8);
    color: rgba(255, 254, 207, 1);
    padding: 10px;
    font-size: 25px;
    margin-top: 40px;
    border-radius: 20px; 
}

#inicio .mute-btn {
    position: absolute;
    top: 45px;
    right: 330px;
}

#juego {
    display: none;
}

#reinicio {
    display: none;
}